apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: picoclaw-{{ .AgentName }}-secret
  namespace: {{ .Namespace }}
spec:
  vaultAuthRef: picoclaw-{{ .AgentName }}
  mount: secret
  type: kv-v2
  path: agents/{{ .ClusterName }}/{{ .AgentName }}
  refreshAfter: 1h
  destination:
    create: true
    name: {{ .AgentName }}-secret
    overwrite: true
